body, html {
    margin: 0;
    padding: 0;
  }
  
  article {
    padding: 50px;
  }
  
  header {
    background-color: white;
    padding: 25px;
    box-sizing: border-box;
  }
  
  .square {
    width: 75px;
    height: 75px;
    background-color: lightblue;
  }
  
  .stripe {
    height: 25vh;
  }
  
  .stripe-1 {
    background-color: lightblue;
  }
  
  .stripe-2 {
    background-color: teal;
  }
  
  .stripe-3 {
    background-color: lightgreen;
  }
  
  .stripe-4 {
    background-color: yellow;
  }
  
  .question-container {
    position: fixed;
    right: 10px;
    bottom: 10px;
  }
  
  .question-container button {
    height: 60px;
    width: 60px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 30px;
  }
  
  